.main-container {
    display: flex;
}

.quiz-container {
    width: 924px;
    height: 521px;
    background: #F4FAFF;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 100px;
}

.quiz-header {
    margin-top: 22px;
    margin-left: 65px;

}

.quiz-image {

    width: 503px;
    height: 306px;
    margin-top: 40px;
    box-shadow: 0px 15px 40px 5px #EDEDED;
    border-radius: 15px;


}

.quiz-details-container {
    height: 306px;
    width: 320px;
    margin-left: 30px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.quiz-container-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.quiz-details-left {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;

    /* identical to box height */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    color: #696F79;
}

.quiz-details-right {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 34px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #696F79;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

}

.quiz-start-btn {
    background: rgba(0, 129, 254, 0.9);
    border-radius: 10px;
    height: 80px;
    padding: 6px;
    border: none;
    color: white;
    width: 275px;
    margin-top: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    color: #FFFFFF;


}

.chapters-container {
    height: 561px;
    width: 340px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;

}

.chapters-container p {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    ;

    color: rgba(70, 70, 70, 0.64);
}

.chapter-seemore-btn {
    width: 287px;
    height: 44px;

    background: #09829D;
    border-radius: 10px;
    color: white;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-top: -7px;
}

.quiz-start-btn:hover {
    cursor: pointer;
    background: rgba(18, 103, 186, 0.9);
}

.chapters-container p {
    width: 287px;
    height: 40px;

}

.chapters-container p:hover {
    transition-duration: 0.08s;
    background: #0081FEE5;


    color: white;
}

.chapters-container {
    cursor: pointer;
}

.chapter-seemore-btn:hover {
    background: rgba(18, 103, 186, 0.9);
    cursor: pointer;
}