.quiz-questions {
  width: 90%;
  background: rgba(240, 240, 240, 0.7);
  border-radius: 1em;
  display: flex;
  padding: 2em;
  flex-direction: column;
  margin: 0 auto;
}

.meter-scale {
  width: 100%;
  margin: 0 auto;
  height: 2em;
}

.main-quiz--conatiner {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 95%;
  margin: 2em auto;
}

.quiz-questions--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-question-container{
  display: flex;
  justify-content: center;
  gap: 4em;
  align-items: center;
}

.quiz-Choose_testPage {
  display: flex;
  flex-direction: column;
}

.after-quiz-questions{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  background-color: rgba(139, 222, 139, 0.776);
  line-height: 2.5em;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a142f;
}

.Question-number {
  margin: 1em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  color: #0a142f;
}

.question {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 2em;
  display: flex;
  align-items: center;
  color: #0a142f;
}

.quiz-test_Choose {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1.5em;
}

.question-option{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.question-option p {
  margin: 0;
}

.question-option:hover {
  cursor: pointer;
}

.next {
    width: 100%;
    background: #09829D;
    border-radius: 0.5em;
    color: white;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3em;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.submit {
    width: 60%;
    background: #099d33;
    border-radius: 0.5em;
    color: white;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3em;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 0 auto;
    cursor: pointer;
}

.submitted {
    width: 60%;
    cursor:not-allowed;
    background: rgb(165, 168, 166);
    border-radius: 0.5em;
    color: white;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3em;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 0 auto;
}

.option--container {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.Endtest-btn {
  width: 128px;
  height: 34px;
  border: 1.58025px solid #fb4b4b;
  border-radius: 7.90123px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fb4b4b;
}

.Endtest-btn {
  cursor: pointer;
}

.react-paginate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.react-paginate--container {
  height: 60px;
  justify-content: space-evenly;
  gap: 100px;
  align-items: center;
  margin-top: 78px;
}

.previous-class {
  width: 128px;
  height: 34px;
  border-radius: 7.90123px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(70, 70, 70, 0.64);
}

.page-class {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #e7e7e7;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(70, 70, 70, 0.64);
}

.page-class:hover {
  color: rgba(0, 129, 254, 0.9);
  cursor: pointer;
}

.previous-class:hover {
  color: rgba(0, 129, 254, 0.9);
  cursor: pointer;
}

.endtest-block {
  margin-top: 44px;
  margin-left: 16px;
}

.quizhint-logo--container {
  margin-right: 107px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 2px 2px 12px #d5d7d8;
}

.quizhint-logo--container:hover {
  background-color: rgba(0, 129, 254, 0.9);
  cursor: pointer;
}

.previous-class a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(70, 70, 70, 0.64);
}

.previous-class a{
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(70, 70, 70, 0.64);
}

.Skip-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 128px;
  height: 34px;
  border: none;
  border-radius: 8px;
  margin-left:20px;
  color:  #fb4b4b;
  border: 1.58025px solid #fb4b4b;
}

.Skip-btn:hover {
  color: rgba(0, 129, 254, 0.9);
  cursor: pointer;
}

.endtest-block {
display: flex;
align-items: center;
justify-content: space-between;
}