.contact-form-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 80%;
    height: 60vh;
    margin: 2em auto;
    padding: 2em;
    border-radius: 1em;
    /* background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.3)); */
}

.contact-Top-Section-Divider {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
}

.top-Section-ContactPage-Leftside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    line-height: 1em;
    /* gap: 0.1em; */
}

.top-Section-ContactPage-rightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin: 12em 0 0;
    line-height: 0.8em;
}

/* .top-Section-ContactPage-rightSide h1 {
    align-self: flex-start;
} */

/* .contact-Unordered_list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type: none;
} */

.top-Section-Form_Contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2em;
}

.inside_Topsection {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.inside_Midsection {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
}

.contact_Infield-Inputs {
    width: 100%;
    height: 3em;
    border: none;
    padding: 1em;
}

.contact_Outfield-Inputs {
    width: 100%;
    height: 3em;
    border: none;
    padding: 1em;   
}

.contact_Textfield-Inputs {
    width: 100%;
    height: 8em;
    border: none;
    padding: 1em;   
}

.Contact-Input_Labels {
    color: white;
    font-weight: 700;
    font-size: 0.9em;
    text-shadow: 0.1em 0.1em 0.1em black;
}

.Contact-Submit_Button {
    color: rgb(103, 103, 103);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    font-weight: 700;
    padding: 1em 1.8em;
    background: rgb(243, 243, 243);
    border: none;
    align-self: flex-start;
}

.contact-Rightside-contents {
    display: flex;
    flex-direction: column;
    padding: 4em;
    gap: 1.2em;
    /* align-items: center; */
    /* justify-content: center; */
}

.contact-content {
    color: white;
    line-height: 2em;
    font-size: 1.1em;
}

.contact-heading {
    color: white;
    font-weight: 700;
    font-size: 2.4em;
    text-transform: capitalize;
}

.contact-image_Background {
    background: url("./img/EDUCATION.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding: 2em; */
    width: 80%;
    /* height: 30em; */
    /* margin: auto; */
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: 50% 50%;
}

.all-Contact_Container {
    width: 100%;
    display:flex;
    height: 150vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.contact-Rightside-contents_Button {
    background: transparent;
    border: solid 3.5px white;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    padding: 1em 0;
    width: 30%;
}

@media only screen and (max-width: 1000px) {
    .all-Contact_Container {
        width: 100%;
        display: flex;
        height: max-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
    .contact-Top-Section-Divider{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 2em auto;
        gap: 2em;
    }
    .top-Section-ContactPage-rightSide, .top-Section-ContactPage-Leftside {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .contact-image_Background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 675px) {
    .top-Section-Form_Contact {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        gap: 2em;
    }

    .contact_Infield-Inputs {
        width: 100%;
        height: 3em;
        border: none;
        padding: 1em;
    }

    .contact-Rightside-contents_Button {
        background: transparent;
        border: solid 3.5px white;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        padding: 1em;
        width: 75%;
    }

    .contact-Rightside-contents {
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 1.2em;
    }
}
