.clg-head-top {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 20px;
  background: #ffffff;
  margin: 2em auto;
  /* background: aliceblue; */
}
.clg-name-head {
  width: 100px;
  margin-left: 15px;
}
.clg-name {
  font-family: "Poppins";
  font-size: 35px;
  font-weight: 600;
}
.clg-city {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  margin-left: 50px;
}
.clg-district {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
}
.clg-state {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
}
.clg-head-second {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: white;
  align-items: center;
  /* margin-top: 20px; */
}
.clg-img {
  /* border-radius: 135px; */
  border-radius: 10px;
  width: 10%;
  /* margin-left: -4px; */
}
.button-menu {
  width: 40px;
  height: 36px;
  background: #ffffff;
  border: #ffffff;
}
img.menu-icon {
  width: 23px;
}

.clg-name-logo {
  border-radius: 80px;
  /* border-radius: 10px; */
  width: 80%;
}
h3.clg-topic {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
}
.clg-year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img.uni-logo {
  width: 40px;
}
.edu-logo {
  width: 100px;
}
.clg-co-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.clg-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}
.clg-sec-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.clg-campus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clg-faculty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clg-student {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clg-detail-button {
  width: 20%;
  border: white;
  height: 40px;
  background: #90c1f8;
}
.clg-detail-button:hover {
  background: #0281fe;
  transition: all 0.6s ease-in-out;
  color: white;
}

.about_university_Card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 2em auto;
}

.table-of_Coursesoffered {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 1em;
}

.table_Contents {
  /* text-align: justify; */
  display: grid;
  grid-template-columns: 20% 30% 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.table-head-and_body {
  display: flex;
  align-items: center;
  width: 100%;
}

.table_Contents td, .table_Contents th {
  padding: 1em;
}

@media only screen and (min-width: 850px) and (max-width: 1200px) {
  .clg-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .clg-head-top {
    /* padding: 0 3em; */
    width: 90%;
    margin: 3em auto;
  }

  .clg-name-head {
    width: 30%;
    margin: auto;
  }

  .clg-name-logo {
    border-radius: 4em;
    width: 80%;
  }

  .clg-name {
    font-family: "Poppins";
    font-size: 1.4em;
    font-weight: 600;
  }

  .details-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }

  .clg-head-second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 1em;
    padding: 1em;
  }

  .clg-img {
    border-radius: 10px;
    width: 10%;
  }

  .clg-topic {
    font-size: 1.1em;
    font-family: "Poppins";
    font-weight: 600;
  }

  .clg-sec-row {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
    align-items: center;
  }

  .clg-detail-button {
    width: 100%;
    border: white;
    height: 5em;
    background: #90c1f8;
  }
}

@media only screen and (min-width: 250px) and (max-width: 850px) {
  .clg-head-top {
    width: 90%;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .clg-name-head {
    width: 30%;
    margin: auto;
  }

  .clg-name-logo {
    border-radius: 4em;
    width: 80%;
    margin: auto;
  }

  .clg-name {
    font-family: "Poppins";
    font-size: 1.2em;
    font-weight: 600;
    margin: auto;
  }

  .clg-city {
    font-family: "Poppins";
    font-size: 1.1em;
    font-weight: 400;
    margin: auto;
  }

  .clg-img {
    border-radius: 10px;
    width: 10em;
    height: 60%;
    margin: auto;
    object-fit: contain;
  }

  .clg-pharmacy {
    width: 100%;
  }

  .clg-topic {
    margin: auto;
    font-size: 1.1em;
    text-align: center;
  }

  .clg-head-second {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    background: white;
    align-items: center;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding: 1em;
  }

  .clg-type {
    text-align: center;
  }

  .clg-sec-row {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
    align-items: center;
  }

  .clg-detail-button {
    width: 100%;
    border: white;
    height: 5em;
    background: #90c1f8;
    font-size: 0.6em;
    font-weight: 400;
    text-transform: capitalize;
  }
}
