.category-page-container {
  width: 95%;
  margin: 1em auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.previous-arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
}
.next-arrow {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
}
.category-options-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8em;
  overflow-x: scroll;
}
.category-options-container::-webkit-scrollbar {
  display: none;
}
.category-options-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
img.logo-img {
  width: 20px;
  background-color: white;
}
button.prev-but {
  margin-right: 25px;
  border: none;
  background-color: white;
}
button.but {
  border-radius: 10px;
  border: none;
  background-color: white;
}
img.logo-img1 {
  width: 25px;
}

.category-options-tile {
  border-left: 0;
  border-right: 0;
  display: flex;
  border-top: 0;
  align-items: center;
  justify-content: center;
  min-height: 4em;
  max-height: 300px;
  min-width: 250px;
  max-width: 90%;
  border-bottom: solid 0.15em rgb(242 242 242);
  background: transparent;
  width: 100%;
  color: rgb(0, 0, 0);
  /* font-size: 1.2em; */
  font-weight: 500;
  padding: 8px;
  background: #f4faff;
  border: 2px rgba(197, 193, 193, 0.379) solid;
  margin-right: 2rem;
  border-radius: 5px;
  /* margin-bottom: 2rem; */
  /* margin-top: 2rem; */
  margin-left: 25px;
}
.category-options-tile2 {
  border-left: 0;
  border-right: 0;
  display: flex;
  border-top: 0;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  max-height: 300px;
  min-width: 250px;
  max-width: 100%;
  border-bottom: solid 0.15em rgb(242 242 242);
  background: transparent;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: 500;
  padding: 8px;
  background: #1d74bc;
  border: 2px rgba(197, 193, 193, 0.379) solid;
  margin-right: 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  transform: translateX(-100px);
}
.category-options:hover {
  background: rgb(83, 117, 226);
  color: white;
}

.category-details-card {
  background: rgb(243, 243, 246);
  border-radius: 1em;
  box-shadow: 1em 1em 1em gray;
  width: 60%;
  margin: 15em auto;
  height: 30vh;
  padding: 2em;
}
.category-details h1 {
  margin-top: 2rem;
  text-transform: capitalize;
}

.category-details {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.floating_Selector-Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  overflow: hidden;
  overflow-x: scroll;
  height: 8em;
}

.floating_Selector-Container::-webkit-scrollbar {
  display: none;
}
.floating_Selector-Container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.category_all-Container {
  display: grid;
  grid-template-columns: 20% 80%;
  /* align-items: center; */
  justify-content: center;
  margin: 4em 0;
}

.states_Label-rectangles {
  /* display: flex; */
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 1em 0.5em;
  /* margin: solid 0.4px black; */
  box-shadow: 0 0 0.2em rgb(119, 119, 119);
  margin: 0 auto;
  transition: 300ms;
  border-radius: 0.1em;
}

.states_Label-rectangles:hover {
  transform: scaleX(1.025) scaleY(1.025);
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 0.3em rgb(97, 97, 97);
}

.states_Label-rectangles p {
  margin: 0 1em;
}

.selecting-preferences-category {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}

.category_leftSide-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 1.5em;
  /* padding: 6em 0; */
}

.main_left-category_Container{
  /* background: rgb(242 242 242); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
}

.Category-main_content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.main_right-category_Container{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.bottom_category-Data {
  display: grid;
  grid-template-columns: 60% 40%;
  /* align-items: center; */
  justify-content: center;
}

.degree_Holder-Frame {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* background: rgb(200, 200, 200); */
    width: 100%;
    /* padding: 1em; */
    /* border: solid 3px black; */
    margin: 1em auto;
    border-radius: 0.5em;
    /* background: rgb(243, 243, 243); */
    /* box-shadow: 0 0 0.2em black; */
}

.degrees_holder {
    width: 90%;
    /* padding: 1em; */
    /* border: solid 3px black; */
    margin: 1em auto;
    border-radius: 0.25em;
    /* padding: 0.25em; */
    box-shadow: 0 0 0.3em rgb(193, 193, 193);
    transition: 300ms;
}

.degrees_holder:hover {
  box-shadow: 0 0 0.8em rgb(193, 193, 193);
  transform: scaleX(1.01) scaleY(1.01);
}

.degree-Summary {
    width: 90%;
    padding: 1em;
    /* border: solid 3px black; */
    margin: 1em auto;
    font-size: 1.25em;
    font-weight: 600;
    text-transform: capitalize;
}

.course_Options {
  /* display: flex; */
  width: 100%;
  /* align-self: center; */
  /* text-align: center; */
  padding: 1em 1em 1em 3em;
  font-weight: 400;
  font-size: 1.1em;
  transition: 300ms;
}

.course_Options:hover {
  color: rgb(83, 177, 255);
}

.Category_advertisement-Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  gap: 1em;
  /* padding: 4em 0; */
  margin: 2em auto;
}

.advertisement_Square-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 92.5%;
  height: max-content;
  box-shadow: 0em 0em 0.3em rgb(117, 117, 117);
  padding: 1em;
}

.advertisement-box_image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advertisement-box_image-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.context-of_advertisement-category {
  /* padding: 2em 0; */
  font-size: 1.4em;
  font-weight: 800;
  text-transform: capitalize;
}

@media only screen and (max-width: 800px) {
  .floating_Selector-Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2em auto;
    gap: 2em;
    height: max-content;
  }

  .category-options-container {
    height: max-content;
  }
}
