.category-page-container {
  width: 95%;
  margin: 1em auto;
}
.previous-arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
}
.next-arrow {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
}
.category-options-container {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
}
.category-options-container::-webkit-scrollbar {
  display: none;
}
.category-options-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
img.logo-img {
  width: 20px;
  background-color: white;
}
button.prev-but {
  margin-right: 25px;
  border: none;
  background-color: white;
}
button.but {
  border-radius: 10px;
  border: none;
  background-color: white;
}
img.logo-img1 {
  width: 25px;
}
.category-details {
  background: rgb(255, 255, 255);
}

.category-options-tile {
  border-left: 0;
  border-right: 0;
  display: flex;
  border-top: 0;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  max-height: 300px;
  min-width: 250px;
  max-width: 100%;
  border-bottom: solid 0.15em rgb(242 242 242);
  background: transparent;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: 500;
  padding: 8px;
  background: #f4faff;
  border: 2px rgba(197, 193, 193, 0.379) solid;
  margin-right: 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 25px;
}
.category-options-tile2 {
  border-left: 0;
  border-right: 0;
  display: flex;
  border-top: 0;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  max-height: 300px;
  min-width: 250px;
  max-width: 100%;
  border-bottom: solid 0.15em rgb(242 242 242);
  background: transparent;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: 500;
  padding: 8px;
  background: #1d74bc;
  border: 2px rgba(197, 193, 193, 0.379) solid;
  margin-right: 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  transform: translateX(-100px);
}
.category-options:hover {
  background: rgb(83, 117, 226);
  color: white;
}

.category-details-card {
  background: rgb(243, 243, 246);
  border-radius: 1em;
  box-shadow: 1em 1em 1em gray;
  width: 60%;
  margin: 15em auto;
  height: 30vh;
  padding: 2em;
}
.category-details h1 {
  margin-top: 2rem;
  text-transform: capitalize;
}
