.MiniNotes_main-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.MiniNotes-Container {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 1em auto;
    background: rgba(4, 160, 244, 0.5);
    border-radius: 1em;
}

.slider {
    width: 100%;
    height: 50vh;
}
  
.slider img {
    transition: opacity 1s ease-in-out; /* Sets the transition effect for the opacity property */
    width: 100%;
    height: 100%;
    border-radius: 1em 0 0 1em;
    object-fit: cover;
}

.mini_aboutus-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.mini_aboutus-container h1 {
    font-weight: 800;
    font-size: 2em;
    text-transform: capitalize;
    color: rgb(80, 80, 80);
}

.mini_aboutus-container p {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.1em;
    text-shadow: 0 0 0.1em gray;
}

.mini_aboutus-container button {
    /* align-self: center; */
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
    background: #0281fe;
    color: white;
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
    .MiniNotes-Container {
        /* display: grid;
        grid-template-columns: 40% 60%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 1em auto;
        background: rgba(4, 160, 244, 0.5);
        border-radius: 1em;
    }

    .slider {
        width: 100%;
        height: 30vh;
    }

    .slider img {
        border-radius: 1em 1em 0 0;
    }

    .mini_aboutus-container {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .mini_aboutus-container h1 {
        font-weight: 600;
        font-size: 1.4em;
        text-align: center;
    }

    .mini_aboutus-container p {
        font-weight: 300;
        font-size: 0.8em;
    }

    .mini_aboutus-container button {
        /* align-self: center; */
        padding: 0.5em 1.5em;
        border: none;
        border-radius: 0.25em;
        background: #0281fe;
        color: white;
        font-size: 0.7em;
    }
}
