label {
  display: inline-block;
  font-family: "Poppins";
}

form.form-data {
  padding-top: 50px;
}

.add-quiz-container {
  margin-left: 430px;
  flex-direction: column;
  gap: 15px;
  width: 40%;
  padding: 1em;
  align-items: center;
  border: 2px solid #a7abaf;
  border-radius: 1em;
  display: flex;
  padding-top: 3em;
  padding-bottom: 3em;
}

.input-box {
  color: #000000;
  width: 60%;
  height: 3.5em;
  background: #ffffff;
  padding: 1em;
  border-radius: 1em;
  border: 2px solid #a7abaf;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  margin: 0 auto;
}

label.title-add-quiz {
  font-family: revert;
  font-style: normal;
  font-weight: 600;
  width: 230px;
  justify-content: space-around;
  font-size: 19px;
  margin-right: 90px;
}

button.add-button {
  width: 60%;
  height: 55px;
  border-radius: 10px;
  color: white;
  background: #5375e2;
  border: #5375e2;
}
.first-box {
  display: flex;
  width: 60%;
  gap: 7px;
}
input.input-que-box {
  color: #000000;
  width: 20%;
  height: 3.5em;
  background: #ffffff;
  padding: 1em;
  border-radius: 1em;
  border: 2px solid #a7abaf;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
}
textarea.input-box-1 {
  color: #000000;
  width: 85%;
  height: 3.5em;
  background: #ffffff;
  padding: 1em;
  border-radius: 1em;
  border: 2px solid #a7abaf;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  margin: 0 auto;
}
