.mid-navs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    height: 7em;
    background: rgb(255, 255, 255);
    box-shadow: 0.2em 0.2em 0.5em rgb(222, 222, 222);
}

